body{
  background-color: rgb(255, 239, 220);
}

a {
  text-decoration: none !important;
}

.main{
  width: 100%;
  margin: auto;
}

.item{
  width: 100%;
  padding: 10px 0px 10px 0px;
  background-color: rgb(238 204 162);
  text-align: center;
  color: rgb(182 131 69);
}

.add-button{
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	color:#FFF;
	border-radius:50px !important;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  background-color: #b68345 !important;
  border-color: #ffba66 !important;
}

.menu{
  background-color: #b68345 !important;
}